main#product-list
    div.grid
        div.product-block(*ngFor='let product of productListService.productList')
            div.product
                a(href='{{ product.url }}')
                    section.product-image-block
                    section.product-image-block
                        img.product-image(src='{{ product.imageUrl }}')
                    section.product-details-block
                        span.product-price $ {{ product.price | number }}

                        span.product-name {{ product.name }}
    pagination-form(
        [queryData]='queryDataService.queryData',
        (updatedEvent)='handlePaginationUpdate()',
    )
