aside#params-block
    section#params-form
        sorting-form(
            [queryData]='queryDataService.queryData',
            (updatedEvent)='handleQueryDataUpdate()',
        )
        price-range-form(
            [queryData]='queryDataService.queryData',
            (updatedEvent)='handleQueryDataUpdate()',
        )
        attrim-form(
            [queryData]='queryDataService.queryData',
            (updatedEvent)='handleQueryDataUpdate()',
        )
