span.ellipsis.left(*ngIf='isLeftEllipsisRequired()') ...

button.page-button(
    *ngFor='let page of getPageArrayRange()',
    (click)='setPage(page)',
    [class.current-page]='isCurrentPage(page)',
    [disabled]='isCurrentPage(page)',
) {{ page }}

span.ellipsis.right(*ngIf='isRightEllipsisRequired()') ...
