$color-highlighted: #3fb8af
$color-highlighted-hover: #14d0b3

=page-button-highlighted
    color: #11695b
    background-color: #fafbfb
    border-color: #D7DDE4

#pagination-form
    display: flex
    margin: 7px 0
    justify-content: center
    
    .page-button
        padding: 6px 12px
        margin-right: -1px
        border: 1px solid #D7DDE4
    
        color: #1BAB95
        background-color: #fff
        
        &.current-page
            color: #fff
            background-color: #1BAB95
            cursor: default
            
            &:hover
                color: #fff
                background-color: #1BAB95
            
        &:hover
            +page-button-highlighted
            
        &:focus
            outline: none

    .page-boundary-button
        
        &:hover
            +page-button-highlighted
            
        &:disabled
            color: #A4B1C2
            background-color: #fff
            border-color: #D7DDE4
            cursor: not-allowed
            
            &:hover
                background-color: #fff
