div#pagination-form
    button#previous.page-button.page-boundary-button.fa.fa-angle-left(
        (click)='setPage(queryData.pageCurrent - 1)',
        [disabled]='queryData.pageCurrent === queryData.pageFirst',
    )
    
    button#start.page-button(
        (click)='setPage(queryData.pageFirst)',
        [disabled]='queryData.pageCurrent === queryData.pageFirst',
        [class.current-page]='isCurrentPage(queryData.pageFirst)',
    ) {{ queryData.pageFirst }}
    
    page-range([queryData]='queryData', (updatedEvent)='updateQueryData()')
    
    button#end.page-button(
        *ngIf='isEndButtonShouldBePresent()',
        (click)='setPage(queryData.pageLast)',
        [disabled]='queryData.pageCurrent === queryData.pageLast',
        [class.current-page]='isCurrentPage(queryData.pageLast)',
    ) {{ queryData.pageLast }}
    
    button#next.page-button.page-boundary-button.fa.fa-angle-right(
        (click)='setPage(queryData.pageCurrent + 1)',
        [disabled]='queryData.pageCurrent === queryData.pageLast',
    )
