.slim-loading-bar
    position: fixed
    margin: 0
    padding: 0
    top: 0
    left: 0
    right: 0
    z-index: 99999

    .slim-loading-bar-progress
        margin: 0
        padding: 0
        z-index: 99998
        box-shadow: 0 0 10px 0
        transition: all .3s ease-in-out

        
.simple-notification-wrapper
    width: 400px !important
