section#attrim-block
    div.class(*ngFor='let cls of queryData.attrimClsArray')
        span.class-name {{ cls.name }}
        
        ul.option-list
            li.option(*ngFor='let option of cls.options')
                label.option-label
                    input.option-input(
                        type='checkbox',
                        [name]='cls.code',
                        [value]='option.value',
                        [checked]='option.isSelected',
                        (change)='setQueryData($event.target)',
                    )
                    span.option-value {{ option.value }}
