@import 'mixins.sass'


#attrim-block
    
    .class
        margin-bottom: 6px
        
        &:last-child
            border-bottom: 1px solid #d2d2d2
        
        .class-name
            +component-heading
            
        .option-list
            margin: 0
            padding: 13px 15px
            
            .option
                margin: 1px 0
                list-style-type: none
                
                .option-label
                    display: flex
                    margin: 0
                    align-items: center
                    
                    input
                        margin-top: 0
                        margin-right: 6px
