@import 'mixins.sass'


#price-range-form
    margin-bottom: 6px
    
    #price-range-heading
        +component-heading

    #price-range-body
        padding: 13px 15px
        
        #price-range-block
            display: flex
            align-items: center
            
            #price-input-divider
                margin: 0 3px
        
            .price-input
                max-width: 75px
                padding: 4px 9px
                border: 1px solid #d7dde4
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
                
                &:focus
                    box-shadow: none
                    border-color: #1bab95
                    outline: 0
        
        nouislider
            margin: 10px auto
            width: 85%
            
            .noUi-horizontal
                .noUi-handle
                    width: 28px
                    
                    &:before
                        left: 11px
                    &:after
                        left: 14px
