form#price-range-form([formGroup]='formGroup')
    
    p#price-range-heading Price

    div#price-range-body
    
        div#price-range-block
            input.price-input(
                type='number',
                name='price-min',
                [formControl]='formGroup.controls.priceMin',
                [value]='priceRange[0]',
                (change)='updateFromMinInput($event.target.value)',
            )
            span#price-input-divider -
            input.price-input(
                type='number',
                name='price-max',
                [formControl]='formGroup.controls.priceMax',
                [value]='priceRange[1]',
                (change)='updateFromMaxInput($event.target.value)',
            )
        
        nouislider(
            [config]='config',
            [formControl] = 'formGroup.controls.slider',
            [(ngModel)] = 'priceRange',
            (change) = 'updateFromSlider()',
        )
