section#sorting-block
    span#heading Sorting
    
    ul#list
        li
            label
                input(
                    name='sorting',
                    type='radio',
                    [value]='sorting.PriceMinMax',
                    [checked]='sorting.PriceMinMax === queryData.sorting',
                    (change)='setSorting($event.target)',
                )
                span cheap first
        li
            label
                input(
                    name='sorting',
                    type='radio',
                    [value]='sorting.PriceMaxMin',
                    [checked]='sorting.PriceMaxMin === queryData.sorting',
                    (change)='setSorting($event.target)',
                )
                span expensive first
        li
            label
                input(
                name='sorting',
                type='radio',
                [value]='sorting.NameAZ',
                [checked]='sorting.NameAZ === queryData.sorting',
                (change)='setSorting($event.target)',
                )
                span name A-Z
        li
            label
                input(
                name='sorting',
                type='radio',
                [value]='sorting.NameZA',
                [checked]='sorting.NameZA === queryData.sorting',
                (change)='setSorting($event.target)',
                )
                span name Z-A
