@import 'mixins.sass'


#sorting-block
    margin-bottom: 6px

    #heading
        +component-heading
    #list
        margin: 0
        padding: 13px 15px
        
        li
            list-style-type: none
            
            label
                display: flex
                margin: 0
                align-items: center
                
                input
                    margin-top: 0
                    margin-right: 5px
